* {
    margin: 0;
    padding: 0;
    
}

header, footer {
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: navy;
    color: white;
    text-align: center;
    font-size: 20px;
}

main{
    margin: 20px;
    width: 300px;
    text-align: center;
}

h1{
    color: navy;
    margin: 10px;
    text-align: center;
}

main img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
    text-align: center;

}

section {
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 20px;
    background-color: #ddd;
}

h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

section p {
    margin: 10px;

}

section ul { 
    padding-left: 30px;
}